*.tex
*.log
*.pdf
*.csv
*.Rmd
*.txt
*.gri
*.grd
*.grd.aux.xml
*.tif
.Rproj.user
.Rhistory
.RData
.Ruserdata
SFNRC.Rproj
temp.txt
*.png
^.*\\.png$
.httr-oauth
*.Rproj
*.RData
!\\data\\.*.RData
!data/*
\\docs\\Reynolds\\*.pdf$
